openapi: 3.0.3
info:
  title: API
  description: The slipstream rest API
  termsOfService: https://oneslipstream.com/terms/
  contact:
    email: dev@oneslipstream.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.oneslipstream.com/{basePath}
    variables:
      basePath:
        default: v1
tags:
  - name: Consumer
  - name: Address
  - name: Search
  - name: Portfolio
  - name: Account
  - name: Account Event
paths:
  /consumers:
    post:
      summary: Create a consumer
      description: Creates a consumer
      tags:
        - Consumer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consumer_schema'
      responses:
        '200':
          description: A consumer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/safe'
  /consumers/{id}:
    get:
      summary: Retrieves a consumer
      description: Retrieves a consumer
      tags:
        - Consumer
      parameters:
        - name: id
          in: path
          description: The id of the consumer
          required: true
          schema:
            $ref: '#/components/schemas/id'
      responses:
        '200':
          description: A consumer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/safe'
    patch:
      summary: Updates a consumer
      description: Updates a consumer
      tags:
        - Consumer
      parameters:
        - name: id
          in: path
          description: The id of the consumer
          required: true
          schema:
            type: string
            example: con_bPKKB3sYsukFanSsaBcMCMR2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/base'
      responses:
        '200':
          description: A consumer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/safe'
    delete:
      summary: Deletes a consumer
      description: Deletes a consumer
      tags:
        - Consumer
      parameters:
        - name: id
          in: path
          description: The id of the consumer
          required: true
          schema:
            $ref: '#/components/schemas/id'
      responses:
        '200':
          description: An empty object
          content:
            application/json:
              schema:
                type: object
  /addresses:
    post:
      summary: Create an address
      description: Create an address for a consumer
      tags:
        - Address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - properties:
                    consumer:
                      $ref: '#/components/schemas/id'
                  required:
                    - consumer
                - $ref: '#/components/schemas/schema'
      responses:
        '200':
          description: An address object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_safe'
  /addresses/{id}:
    get:
      summary: Retrieve an address
      description: Retrieves an address object
      tags:
        - Address
      parameters:
        - name: id
          in: path
          description: The id of the address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
      responses:
        '200':
          description: An address object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_safe'
    patch:
      summary: Updates an address
      description: Updates an address object
      tags:
        - Address
      parameters:
        - name: id
          in: path
          description: The id of the address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schema'
      responses:
        '200':
          description: An address object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_safe'
    delete:
      summary: Deletes an address
      description: Deletes an address object
      tags:
        - Address
      parameters:
        - name: id
          in: path
          description: The id of the address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
      responses:
        '200':
          description: An empty object
          content:
            application/json:
              schema:
                type: object
  /searches:
    post:
      summary: Create a search
      description: Create a search
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search_schema'
      responses:
        '200':
          description: A consumer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_safe'
  /portfolios:
    post:
      summary: Create an portfolio
      description: Creates a portfolio
      tags:
        - Portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/portfolio_schema'
      responses:
        '200':
          description: An account object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/portfolio_safe'
  /accounts:
    post:
      summary: Create an account
      description: Creates an account
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_schema'
      responses:
        '200':
          description: An account object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_safe'
  /account_events:
    post:
      summary: Create an event
      description: Creates an account event
      tags:
        - Account Event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_event_schema'
      responses:
        '200':
          description: An account event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_event_safe'
components:
  schemas:
    consumer:
      $ref: '#/components/schemas/safe'
    address:
      $ref: '#/components/schemas/address_safe'
    search:
      $ref: '#/components/schemas/search_safe'
    portfolio:
      $ref: '#/components/schemas/portfolio_safe'
    account:
      $ref: '#/components/schemas/account_safe'
    account_event:
      $ref: '#/components/schemas/account_event_safe'
    base:
      type: object
      properties:
        title:
          type: string
          example: miss
          enum:
            - mr
            - mrs
            - miss
            - ms
            - dr
            - prof
            - sir
          description: The customer's title
        firstname:
          type: string
          example: Eve
          description: The customer's firstname
        othername:
          type: string
          nullable: true
          description: The customer's middle names or initials
        lastname:
          type: string
          example: Moneypenny
          description: The customer's lastname
        description:
          type: string
          description: An arbitrary string attached to the object
          example: A special secretary
        metadata:
          type: object
          description: Set of key-value pairs that you can attach to an object, useful for storing additional information about the object in a structured format
          example:
            job: secretary
          additionalProperties:
            type: string
    schema:
      type: object
      properties:
        buildingName:
          type: string
          nullable: true
          maxLength: 30
          example: null
          description: The building name
        buildingNumber:
          type: string
          nullable: true
          maxLength: 12
          example: 7
          description: The building number
        subBuildingName:
          type: string
          nullable: true
          description: The sub building name
          example: null
        subBuildingNumber:
          type: string
          nullable: true
          maxLength: 12
          description: The sub building number
          example: null
        line1:
          type: string
          maxLength: 50
          example: New Bond Street
          description: Address line 1 (e.g., street)
        line2:
          type: string
          nullable: true
          maxLength: 50
          description: Address line 2 (e.g., apartment, suite, unit, or building).
          example: null
        city:
          type: string
          nullable: true
          maxLength: 25
          example: London
          description: The city
        state:
          type: string
          nullable: true
          maxLength: 25
          example: Greater London
          description: The state
        postcode:
          type: string
          nullable: true
          maxLength: 8
          example: SE1 7TP
          description: The postal code
        country:
          type: string
          nullable: true
          maxLength: 2
          example: GB
          description: The country
      required:
        - line1
        - city
        - postcode
        - country
    consumer_schema:
      allOf:
        - $ref: '#/components/schemas/base'
        - properties:
            dob:
              type: string
              format: date
              example: '1975-07-27'
              description: The consumer's date of birth
        - properties:
            addresses:
              type: array
              description: The customer's addresses
              items:
                $ref: '#/components/schemas/schema'
      required:
        - title
        - firstname
        - lastname
        - dob
        - addresses
    id:
      type: string
      example: con_bPKKB3sYsukFanSsaBcMCMR2
      description: The unique identifier for the consumer
    safe:
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/id'
          required:
            - id
        - $ref: '#/components/schemas/base'
        - properties:
            addresses:
              type: array
              description: The customer's addresses
              items:
                $ref: '#/components/schemas/schema'
        - properties:
            dob:
              type: string
              format: date-time
              example: '1975-07-26T00:00:00.000Z'
              description: The consumer's date of birth
        - properties:
            createdAt:
              type: string
              format: date-time
              example: '2022-07-26T00:00:00.000Z'
              description: The date and time the consumer was created
    address_id:
      type: string
      example: addr_bPKKB3sYsukFanSsaBcMCMR2
      description: The unique identifier for the address
    address_safe:
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/address_id'
          required:
            - id
        - $ref: '#/components/schemas/schema'
        - properties:
            createdAt:
              type: string
              format: date-time
              example: '2022-01-01T00:00:00.000Z'
              description: The date and time the address was created
    search_schema:
      type: object
      properties:
        consumer:
          type: string
          description: The identifier of the consumer to search
          example: con_bPKKB3sYsukFanSsaBcMCMR2
        purpose:
          type: string
          enum:
            - quotation
          description: |
            The purpose of the search.
              * `quotation` - Used prior to a credit application to offer a quote (sometimes called a soft search)
          example: quotation
      required:
        - consumer
        - purpose
    title:
      type: string
      nullable: true
      maxLength: 30
      example: mrs
    firstname:
      type: string
      maxLength: 30
      example: eve
    othername:
      type: string
      maxLength: 30
    lastname:
      type: string
      maxLength: 30
      example: moneypenny
    dob:
      type: string
      format: date-time
      example: '1975-07-26T00:00:00.000Z'
    payment_status:
      type: string
      enum:
        - no_update_received
        - up_to_date
        - unknown
        - one_pae
        - two_pae
        - three_pae
        - four_pae
        - five_pae
        - six_pae
        - default
      example: up_to_date
      description: |
        The payment status code for the account:
          * `no_update_received` - No update received
          * `up_to_date` - Account up-to-date or less than the equivalent of one PAE (payment arrears equivalent) in arrears
          * `unknown` - Unknown or unspecified
          * `one_pae` - Account in arrears by the equivalent of at least one but less than two PAE
          * `two_pae` - Account in arrears by the equivalent of at least two but less than three PAE
          * `three_pae` - Account in arrears by the equivalent of at least three but less than four PAE
          * `four_pae` - Account in arrears by the equivalent of at least four but less than five PAE
          * `five_pae` - Account in arrears by the equivalent of at least five but less than six PAE
          * `six_pae` - Account in arrears by six or more PAE
          * `default` - Account is in Default
    summary:
      type: object
      properties:
        searches:
          type: object
          nullable: true
          properties:
            last3m:
              type: integer
              format: int32
              minimum: 1
              maximum: 9999999999
              example: 4
              description: The total number of searches over last 3 months
            last3mHome:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 9
              description: The total number of home credit searches over last 3 months
            last12m:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 9
              description: The total number of searches over last 12 months
          required:
            - last3m
            - last3mHome
            - last12m
        judgments:
          type: object
          nullable: true
          properties:
            total:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              nullable: true
              example: 12
              description: The total number of Judgments
            last36m:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              nullable: true
              example: 12
              description: The total number of Judgments in last 3 years (36 months)
            active:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              nullable: true
              example: 12
              description: The total number of active Judgments
            satisfied:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              nullable: true
              example: 12
              description: The total number of satisfied Judgments
            activeAmount:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              nullable: true
              example: 12
              description: The total value of active Judgments
            satisfiedAmount:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              nullable: true
              example: 12
              description: The total value of satisfied Judgments
        bankruptciesInsolvencies:
          type: object
          nullable: true
          properties:
            discharged:
              type: integer
              nullable: true
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: The total number of discharged insolvencies
            isInsolvent:
              type: boolean
              example: false
              description: Whether the applicant is currently insolvent
            isRestricted:
              type: boolean
              nullable: true
              example: false
              description: Whether the applicant is restricted from applying for credit due to insolvency proceedings
          required:
            - isInsolvent
        notices:
          type: object
          nullable: true
          properties:
            hasCorrectionNotice:
              type: boolean
              example: false
              description: Whether the applicant has a Notice of Correction
            disputes:
              type: integer
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: The total number of disputes on a file
          required:
            - hasCorrectionNotice
            - disputes
        links:
          type: object
          nullable: true
          properties:
            undeclaredAddresses:
              type: integer
              nullable: true
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: The total number of undeclared Address Links
            undeclaredAddressesSearched:
              type: integer
              nullable: true
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: The total number of undeclared Address Links searched
            undeclaredAddressesUnsearched:
              type: integer
              nullable: true
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: The total number of undeclared Address Links unsearched
            undeclaredAliases:
              type: integer
              nullable: false
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: The total number of undeclared Alias Links
            undeclaredAssociates:
              type: integer
              nullable: true
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: The total number of undeclared Associate Links identified
          required:
            - undeclaredAliases
        computed:
          type: object
          properties:
            accounts:
              type: object
              properties:
                total:
                  type: integer
                  nullable: false
                  format: int32
                  minimum: 0
                  maximum: 9999999999
                  example: 12
                  description: The total number of SHARE accounts
                active:
                  type: integer
                  nullable: true
                  format: int32
                  minimum: 0
                  maximum: 9999999999
                  example: 12
                  description: The total number of active SHARE accounts
                settled:
                  type: integer
                  nullable: true
                  format: int32
                  minimum: 0
                  maximum: 9999999999
                  example: 12
                  description: The total number of settled SHARE accounts
                opened:
                  type: object
                  properties:
                    last6m:
                      type: integer
                      nullable: false
                      format: int32
                      minimum: 0
                      maximum: 9999999999
                      example: 12
                      description: The total number of SHARE accounts opened in the last 6 months
                  required:
                    - last6m
                worstPay:
                  type: object
                  properties:
                    last12m:
                      $ref: '#/components/schemas/payment_status'
                      description: |
                        The worst payment status for any account in the last 12 months
                          * `no_update_received` - No update received
                          * `up_to_date` - Account up-to-date or less than the equivalent of one PAE (payment arrears equivalent) in arrears
                          * `unknown` - Unknown or unspecified
                          * `one_pae` - Account in arrears by the equivalent of at least one but less than two PAE
                          * `two_pae` - Account in arrears by the equivalent of at least two but less than three PAE
                          * `three_pae` - Account in arrears by the equivalent of at least three but less than four PAE
                          * `four_pae` - Account in arrears by the equivalent of at least four but less than five PAE
                          * `five_pae` - Account in arrears by the equivalent of at least five but less than six PAE
                          * `six_pae` - Account in arrears by six or more PAE
                          * `default` - Account is in Default
                    last36m:
                      $ref: '#/components/schemas/payment_status'
                      description: |
                        The worst payment status for any account in the last 36 months
                          * `no_update_received` - No update received
                          * `up_to_date` - Account up-to-date or less than the equivalent of one PAE (payment arrears equivalent) in arrears
                          * `unknown` - Unknown or unspecified
                          * `one_pae` - Account in arrears by the equivalent of at least one but less than two PAE
                          * `two_pae` - Account in arrears by the equivalent of at least two but less than three PAE
                          * `three_pae` - Account in arrears by the equivalent of at least three but less than four PAE
                          * `four_pae` - Account in arrears by the equivalent of at least four but less than five PAE
                          * `five_pae` - Account in arrears by the equivalent of at least five but less than six PAE
                          * `six_pae` - Account in arrears by six or more PAE
                          * `default` - Account is in Default
                delinquencies:
                  type: object
                  properties:
                    last12m:
                      type: integer
                      nullable: true
                      format: int32
                      minimum: 0
                      maximum: 9999999999
                      example: 12
                      description: The total number of delinquencies in the last 12 months
                defaults:
                  type: object
                  properties:
                    last12m:
                      type: integer
                      nullable: false
                      format: int32
                      minimum: 0
                      maximum: 9999999999
                      example: 12
                      description: The total number of defaults in the last 12 months
                    last36m:
                      type: integer
                      nullable: false
                      format: int32
                      minimum: 0
                      maximum: 9999999999
                      example: 12
                      description: The total number of defaults in the last 36 months
                  required:
                    - last12m
                    - last36m
              required:
                - total
                - opened
                - worstPay
                - delinquencies
                - defaults
          required:
            - accounts
        indebt:
          type: object
          nullable: true
          properties:
            totalBalancesActive:
              type: number
              nullable: true
              format: int32
              minimum: 0
              maximum: 99999999999
              example: 12
              description: The total balance of active accounts
            totalBalancesRevolve:
              type: number
              nullable: true
              format: int32
              minimum: 0
              maximum: 99999999999
              example: 12
              description: Total balances for all account group 3 Accounts (Revolving Credit and Budget)
            balanceLimitRatioRevolve:
              type: number
              nullable: true
              format: int32
              minimum: 0
              maximum: 99999999999
              example: 12
              description: The % ratio of balance to limits for all account group 3 Accounts (Revolving Credit and Budget)
            totalLimitsRevolve:
              type: number
              nullable: true
              format: int32
              minimum: 0
              maximum: 99999999999
              example: 12
              description: Total limits for all active account group 3 Accounts (Revolving Credit and Budget)
            totalBalancesLoans:
              type: number
              nullable: true
              format: int32
              minimum: 0
              maximum: 99999999999
              example: 12
              description: Total balances for all account group 1 accounts (Loans/Installment Credit)
            totalBalancesMortgages:
              type: number
              nullable: true
              format: int32
              minimum: 0
              maximum: 99999999999
              example: 12
              description: Total balances for all account group 2 accounts (Mortgage Accounts)
        addressStatus:
          type: object
          nullable: true
          properties:
            inPostalAddressFile:
              type: boolean
              nullable: false
              example: true
              description: A value of true indicates that the address was found in the Postal Address File
            inElectoralRoll:
              type: boolean
              nullable: true
              example: true
              description: A value of true indicates that the Electoral Roll information is based on the rolling Electoral Roll
            messageCode:
              type: number
              nullable: true
              format: int32
              minimum: 0
              maximum: 9999999999
              example: 12
              description: Message code indicating the level of confirmation (extended for current address)
          required:
            - pafValid
            - messageCode
      required:
        - notices
        - summaryAddress
        - share
    supplier_code:
      type: string
      enum:
        - agricultural_finance
        - bank_finance
        - bank
        - building_society
        - transunion
        - credit_broker
        - credit_card_company
        - cc_consumer_data_capture
        - credit_union
        - debt_collection_agency
        - eurodirect
        - factoring
        - finance_housing
        - finance_house
        - government
        - home_credit
        - home_shopping
        - insurance_company
        - internet_on_line_service
        - leasing_company
        - mortgage_company
        - motor_vehicle_finance_company
        - mail_order
        - rental_company
        - retailer
        - securities
        - student_loan
        - stockbroker
        - telecommunications_supplier
        - utility
        - vehicle_rental
      example: bank
      description: |
        The supplier code for the account:
          * `agricultural_finance` - Agricultural Finance
          * `bank_finance` - Bank Finance
          * `bank` - Bank
          * `building_society` - Building Society
          * `transunion` - TransUnion
          * `credit_broker` - Credit Broker
          * `credit_card_company` - Credit Card Company
          * `cc_consumer_data_capture` - CC Consumer Data Capture
          * `credit_union` - Credit Union
          * `debt_collection_agency` - Debt Collection Agency
          * `eurodirect` - EuroDirect
          * `factoring` - Factoring
          * `finance_housing` - Finance Housing
          * `finance_house` - Finance House
          * `government` - Government
          * `home_credit` - Home Credit
          * `home_shopping` - Home Shopping
          * `insurance_company` - Insurance Company
          * `internet_on_line_service` - Internet/On Line Service
          * `leasing_company` - Leasing Company
          * `mortgage_company` - Mortgage Company
          * `motor_vehicle_finance_company` - Motor Vehicle Finance Company
          * `mail_order` - Mail Order
          * `rental_company` - Rental Company
          * `retailer` - Retailer
          * `securities` - Securities
          * `student_loan` - Student Loan
          * `stockbroker` - Stockbroker
          * `telecommunications_supplier` - Telecommunications Supplier
          * `utility` - Utility
          * `vehicle_rental` - Vehicle Rental
    account_holder_status:
      type: string
      enum:
        - deceased
        - gone_away
        - normal
        - guardian
        - uncontactable
      example: normal
      description: |
        The status of the account holder * `deceased` - The account holder is deceased * `gone_away` - The account holder has gone away * `normal` - The account holder is normal * `guardian` - The account holder is a Guardian/Power of Attorney * `uncontactable` - The account holder is uncontactable
    optional:
      type: string
      format: date-time
      nullable: true
      example: '1975-07-26T00:00:00.000Z'
    account_status:
      type: string
      enum:
        - early_delinquency
        - arrangement_to_pay
        - sustained_delinquency
        - debt_assignment
        - default
        - debt_management_program
        - deferred_start
        - dormant_inactive_account
        - third_party_payment
        - insurance_claim_pending
        - low_start_repayment_plan
        - minimum_payment
        - overpayment_in_arrears
        - okay
        - overpayment
        - payment_holiday
        - partial_settlement
        - query
        - account_reinstatement
        - enforced_repossession
        - satisfied
        - settled_closed
        - unclassified
        - voluntary_arrangement
        - voluntary_repossession
        - voluntary_termination
      example: satisfied
      description: |
        The status code for the account:
          * `early_delinquency` - General code to indicate early delinquency
          * `arrangement_to_pay` - Arrangement to pay
          * `sustained_delinquency` - General code to indicate sustained delinquency
          * `debt_assignment` - Debt assignment
          * `default` - Default
          * `debt_management_program` - Debt management program
          * `deferred_start` - Deferred start
          * `dormant_inactive_account` - Dormant/inactive account
          * `third_party_payment` - Supplied when full or part payments are being made by a third party, such as an Insurance Company, DSS or tenants
          * `insurance_claim_pending` - Insurance claim pending
          * `low_start_repayment_plan` - Low start repayment plan applies
          * `minimum_payment` - Minimum payment made
          * `overpayment_in_arrears` - Overpayment (in arrears)
          * `okay` - Okay (repayment requirements fulfilled)
          * `overpayment` - Overpayment
          * `payment_holiday` - Payment holiday
          * `partial_settlement` - Partial settlement
          * `query` - Query (account under review)
          * `account_reinstatement` - Account re-instatement
          * `enforced_repossession` - Enforced repossession
          * `satisfied` - Satisfied
          * `settled_closed` - Settled/closed
          * `unclassified` - Unclassified or recently opened account payment delay
          * `voluntary_arrangement` - Voluntary arrangement
          * `voluntary_repossession` - Voluntary repossession
          * `voluntary_termination` - Voluntary termination
    share_account_status:
      type: string
      enum:
        - default
        - satisfied
        - normal
        - delinquent
        - settled
      example: normal
      description: |
        The status code for the share account:
          * `default` - Default
          * `satisfied` - Satisfied
          * `normal` - Normal
          * `delinquent` - Delinquent
          * `settled` - Settled
    currency:
      type: string
      enum:
        - EUR
        - GBP
        - USD
      description: |
        The iso currency code
          * `EUR` - Euro
          * `GBP` - Great British Pound
          * `USD` - United States Dollar
      example: GBP
    account_code:
      type: string
      enum:
        - asset_discounting
        - agricultural_finance
        - airtime_agreement_monthly
        - airtime_agreement_upfront
        - balloon_repayment_loan
        - book_music_video_club
        - budget_account
        - balloon_hp
        - buildings_insurance
        - bank
        - unsecured_business_loan
        - residential_buy_to_let
        - bnpl
        - broadband
        - brewery_loan
        - business_line
        - builders_merchant_credit
        - current_account
        - cable
        - credit_card
        - crown_debt
        - charge_card
        - contents_insurance
        - commercial_mortgage
        - company_credit_card
        - personal_contract_purchase
        - consumer_goods_rental
        - unsecured_car_loan
        - council_tax
        - credit_sale
        - conditional_sale
        - combined_credit_account
        - consolidated_debt
        - debit_card
        - bank_default
        - deffered_hire_purchase
        - shared_ownership_mortgage
        - deffered_payment
        - dual_fuel
        - e_cash
        - education
        - electricity
        - employer_loan
        - water
        - fuel_card
        - fixed_term_deferred_payment_loan
        - finance_lease
        - flexible_mortgage
        - residential_first_mortgage_with_investment_offset
        - further_secured_loan
        - factoring
        - gambling
        - gas_even_payment
        - general_insurance
        - guarantee_liability
        - home_shopping_agency
        - home_credit
        - home_shopping_direct
        - household_insurance
        - hire_purchase
        - home_shopping
        - home_shopping_cash
        - internet_credit_line
        - advance_against_income
        - residential_second_mortgage_with_investment_offset
        - insurance
        - internet_shopping
        - loan_unspecified_type
        - life_policy_loan
        - local_rates_even_payment_scheme
        - lease
        - landline_telephone_even_payment
        - mail_order_agency
        - multifunctional_card
        - mortgage_unspecified_type
        - motor_insurance
        - motor_finance_loan
        - semi_commercial_first_mortgage
        - mail_order
        - mortgage_protection
        - mortgage_and_unsecured_loan
        - multi_communications
        - semi_commercial_second_mortgage
        - option_account
        - overdraft
        - oil
        - operating_lease
        - investment_offset_mortgage
        - other_rental
        - personal_health_insurance
        - payment_protection
        - property_rental
        - airtime_agreement_quarterly
        - electricity_quarterly
        - gas_quarterly
        - landline_telephone_quarterly
        - utility_quarterly
        - water_quarterly
        - revolving_credit
        - repayment_grant
        - retail_store_card
        - rental_agreement
        - stock_broking_account
        - secured_business_loan
        - secured_car_loan
        - secured_loan
        - student_loan
        - residential_second_mortgage
        - offset_loan
        - satellite
        - stationery_supplier
        - store_card
        - offset_current_account
        - term_loan
        - telecommunications_supplier
        - trade_credit
        - tv_shopping
        - utility_even_payment
        - unsecured_loan
        - utility
        - variable_subscription
        - weekly_installment_plan
        - residential_first_time_buyer
        - standby_credit
        - zero_finance_loan
        - hundered_plus_ltv_mortgage
      example: balloon_repayment_loan
      description: |
        The type of share account:
          * `asset_discounting` - Asset Discounting
          * `agricultural_finance` - Agricultural Finance
          * `airtime_agreement_monthly` - Airtime Agreement Monthly
          * `airtime_agreement_upfront` - Airtime Agreement Upfront
          * `balloon_repayment_loan` - Balloon Repayment Loan
          * `book_music_video_club` - Book Music Video Club
          * `budget_account` - Budget Account
          * `balloon_hp` - Balloon HP
          * `buildings_insurance` - Buildings Insurance
          * `bank` - Bank
          * `unsecured_business_loan` - Unsecured Business Loan
          * `residential_buy_to_let` - Residential Buy To Let
          * `bnpl` - Buy Now Pay Later
          * `broadband` - Broadband
          * `brewery_loan` - Brewery Loan
          * `business_line` - Business Line
          * `builders_merchant_credit` - Builders Merchant Credit
          * `current_account` - Current Account
          * `cable` - Cable
          * `credit_card` - Credit Card
          * `crown_debt` - Crown Debt
          * `charge_card` - Charge Card
          * `contents_insurance` - Contents Insurance
          * `commercial_mortgage` - Commercial Mortgage
          * `company_credit_card` - Company Credit Card where the individual responsible for debt
          * `personal_contract_purchase` - Personal Contract Purchase
          * `consumer_goods_rental` - Consumer Goods Rental
          * `unsecured_car_loan` - Unsecured Car Loan
          * `council_tax` - Council Tax
          * `credit_sale` - Credit Sale
          * `conditional_sale` - Conditional Sale
          * `combined_credit_account` - Combined Credit Account
          * `consolidated_debt` - Consolidated Debt
          * `debit_card` - Debit Card
          * `bank_defalut` - Bank Default
          * `deferred_hp` - Deferred Hire Purchase
          * `shared_ownership_mortgage` - Shared Ownership Mortgage (Housing Association)
          * `deferred_payment` - Deferred Payment
          * `dual_fuel` - Dual Fuel
          * `e_cash` - E-Cash
          * `education` - Education
          * `electricity_even_payment` - Electricity (even payment)
          * `employer_loan` - Employer Loan
          * `water_even_payment` - Water (even payment)
          * `fuel_card` - Fuel Card (individual responsible for debt)
          * `fixed_term_deferred_payment_loan` - Fixed Term Deferred Payment Loan
          * `finance_lease` - Finance Lease
          * `flexible_mortgage` - Flexible Mortgage
          * `first_mortgage_with_investment_offset` - First Mortgage with Investment Offset
          * `further_secured_loan` - Further Secured Loan
          * `factoring` - Factoring
          * `gambling` - Gambling
          * `gas_even_payment` - Gas (even payment)
          * `general_insurance` - General Insurance
          * `guarantee_liability` - Guarantee Liability
          * `home_shopping_agency` - Home Shopping Agency
          * `home_credit` - Home Credit
          * `home_shopping_direct` - Home Shopping Direct
          * `household_insurance` - Household Insurance
          * `hire_purchase` - Hire Purchase
          * `home_shopping` - Home Shopping
          * `home_shopping_cash` - Home Shopping Cash
          * `internet_credit_line` - Internet Credit Line
          * `advance_against_income` - Advance Against Income
          * `residential_second_mortgage_with_investment_offset` - Residential Second Mortgage with Investment Offset
          * `insurance` - Insurance
          * `internet_shopping` - Internet Shopping
          * `loan_unspecified_type` - Loan (Unspecified Type)
          * `life_policy_loan` - Life Policy Loan
          * `local_rates_even_payment_scheme` - Local Rates (even payment scheme)
          * `lease` - Lease
          * `landline_telephone_even_payment` - Landline Telephone (even payment)
          * `mail_order_agency` - Mail Order Agency
          * `multifunctional_card` - Multifunctional Card
          * `mortgage_unspecified_type` - Mortgage (Unspecified Type)
          * `motor_insurance` - Motor Insurance
          * `motor_finance_loan` - Motor Finance Loan
          * `semi_commercial_first_mortgage` - Semi Commercial First Mortgage
          * `mail_order` - Mail Order
          * `mortgage_protection` - Mortgage Protection
          * `mortgage_and_unsecured_loan` - Mortgage and Unsecured Loan
          * `multi_communications` - Multi Communications
          * `semi_commercial_second_mortgage` - Semi Commercial Second Mortgage
          * `mail_order` - Mail Order
          * `mortgage_protection` - Mortgage Protection
          * `mortgage_and_unsecured_loan` - Mortgage and Unsecured Loan
          * `multi_communications` - Multi Communications
          * `semi_commercial_second_mortgage` - Semi Commercial Second Mortgage
          * `option_account` - Option Account
          * `overdraft` - Overdraft
          * `oil` - Oil
          * `operating_lease` - Operating Lease
          * `investment_offset_mortgage` - Investment Offset Mortgage
          * `other_rental` - Other Rental
          * `personal_health_insurance` - Personal Health Insurance
          * `payment_protection` - Payment Protection
          * `property_rental` - Property Rental
          * `airtime_agreement_quarterly` - Airtime Agreement (quarterly)
          * `electricity_quarterly` - Electricity (quarterly)
          * `gas_quarterly` - Gas (quarterly)
          * `landline_telephone_quarterly` - Landline Telephone (quarterly)
          * `utility_quarterly` - Utility (quarterly)
          * `water_quarterly` - Water (quarterly)
          * `revolving_credit` - Revolving Credit
          * `repayment_grant` - Repayment Grant
          * `retail_store_card` - Retail Store Card
          * `rental_agreement` - Rental Agreement
          * `stock_broking_account` - Stock Broking Account
          * `secured_business_loan` - Secured Business Loan
          * `secured_card_loan` - Secured Card Loan
          * `secured_car_loan` - Secured Car Loan
          * `secured_loan` - Secured Loan
          * `student_loan` - Student Loan
          * `residential_second_mortgage` - Residential Second Mortgage
          * `offset_loan` - Offset Loan
          * `satellite` - Satellite
          * `stationery_supplier` - Stationery Supplier
          * `store_card` - Store Card
          * `offset_current_account` - Offset Current Account
          * `term_loan` - Term Loan
          * `telecommunications_supplier` - Telecommunications Supplier
          * `trade_credit` - Trade Credit
          * `tv_shopping` - TV Shopping
          * `utility_even_payment` - Utility (even payment)
          * `unsecured_loan` - Unsecured Loan
          * `utility` - Utility
          * `variable_subscription` - Variable Subscription
          * `weekly_installment_plan` - Weekly Installment Plan
          * `residential_first_time_buyer` - Residential First Time Buyer
          * `standby_credit` - Standby Credit
          * `zero_finance_loan` - Zero Finance Loan
          * `hundered_plus_ltv_mortgage` - 100% + LTV Mortgage
    group_code:
      type: string
      enum:
        - loan_and_installment_credit
        - mortgage
        - revolving_credit_and_budget
        - telecommunications
        - utilities
        - home_shopping
        - bank
        - miscellaneous
        - insurance
        - home_credit
      example: loan_and_installment_credit
      description: |
        The group of the share account
          * `loan_and_installment_credit` - Loan and Installment Credit
          * `mortgage` - Mortgage
          * `revolving_credit_and_budget` - Revolving Credit and Budget
          * `telecommunications` - Telecommunications
          * `utilities` - Utilities
          * `home_shopping` - Home Shopping
          * `bank` - Bank
          * `miscellaneous` - Miscellaneous
          * `insurance` - Insurance
          * `home_credit` - Home Credit
    frequency_code:
      type: string
      enum:
        - annually
        - deferred
        - fortnightly
        - four_weekly
        - monthly
        - periodically
        - quarterly
        - single_payment
        - weekly
        - unknown
      example: monthly
      description: |
        The frequency of the repayment
          * `annually` - Annually
          * `deferred` - Deferred
          * `fortnightly` - Fortnightly (every 2 weeks)
          * `four_weekly` - Every 4 weeks
          * `monthly` - Monthly
          * `periodically` - Periodically
          * `quarterly` - Quarterly
          * `single_payment` - Single Payment
          * `weekly` - Weekly
          * `unknown` - Unknown
    search_account:
      type: object
      properties:
        supplier:
          type: object
          properties:
            name:
              type: string
              nullable: true
              example: Slipstream
              description: The supplier name for the account
            code:
              $ref: '#/components/schemas/supplier_code'
              nullable: true
        holder:
          type: object
          properties:
            firstname:
              $ref: '#/components/schemas/firstname'
              nullable: true
              description: The account holder's first name
            othername:
              $ref: '#/components/schemas/othername'
              nullable: true
              description: The account holder's middle names or initials
            lastname:
              $ref: '#/components/schemas/lastname'
              nullable: true
              description: The account holder's lastname
            dob:
              $ref: '#/components/schemas/dob'
              nullable: true
              description: The account holder's date of birth
            address:
              $ref: '#/components/schemas/address_safe'
              nullable: true
            status:
              $ref: '#/components/schemas/account_holder_status'
            startedAt:
              $ref: '#/components/schemas/optional'
              description: The date when account holder first appeared on the account
            endedAt:
              $ref: '#/components/schemas/optional'
              description: The date when account holder left the account
          required:
            - status
        default:
          type: object
          nullable: true
          properties:
            originalAmount:
              type: number
              format: int32
              example: 1000
              description: The original default balance to the nearest unit e.g. 1000 = £1000
            terminationAmount:
              type: number
              format: int32
              nullable: true
              example: 1000
              description: The amount of the default balance at the time of termination to the nearest unit e.g. 1000 = £1000
            defaultedAt:
              $ref: '#/components/schemas/optional'
              nullable: true
              description: The date when the account defaulted
            satisfiedAt:
              $ref: '#/components/schemas/optional'
              nullable: true
              description: The date when the account was satisfied
            respossessedAt:
              $ref: '#/components/schemas/optional'
              nullable: true
              description: The date when the account was repossessed
          required:
            - originalAmount
        delinquent:
          type: object
          nullable: true
          properties:
            balance:
              type: number
              format: int32
              example: 1000
              description: The delinquency balance to the nearest unit e.g. 500 = £500
            delinquentAt:
              $ref: '#/components/schemas/optional'
              nullable: true
              description: The date when the account became delinquent
        history:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
                format: int32
                example: 500
                description: The balance amount to the nearest unit e.g. 500 = £500
              limitAmount:
                type: number
                format: int32
                nullable: true
                example: 1500
                description: The credit limit to the nearest unit e.g. 1500 = £1,500
              statementAmount:
                type: number
                format: int32
                nullable: true
                example: 500
                description: The statement balance amount to the nearest unit e.g. 500 = £500
              paymentAmount:
                type: number
                format: int32
                nullable: true
                example: 1000
                description: The payment amount to the nearest unit e.g. 1000 = £1,000
              accountStatus:
                $ref: '#/components/schemas/account_status'
              paymentStatus:
                $ref: '#/components/schemas/payment_status'
              recordedAt:
                $ref: '#/components/schemas/optional'
                description: The year and month of the history record
            required:
              - amount
              - accountStatus
              - paymentStatus
              - recordedAt
        details:
          type: object
          properties:
            accountNumber:
              type: string
              nullable: true
              example: TEST-294-50032
              description: The account number
            accountSuffix:
              type: string
              nullable: true
              example: 1
              description: The account suffix
            isJoint:
              type: boolean
              nullable: true
              example: true
              description: Whether the account is a joint account
            status:
              $ref: '#/components/schemas/share_account_status'
            currency:
              $ref: '#/components/schemas/currency'
            balanceAmount:
              type: number
              format: int32
              nullable: true
              example: 500
              description: The balance amount to the nearest unit e.g. 500 = £500
            intialAmount:
              type: number
              format: int32
              nullable: true
              example: 500
              description: The intial balance amount to the nearest unit e.g. 2500 = £2,500. This could be opening balance or the first seen current balance reported
            limitAmount:
              type: number
              format: int32
              nullable: true
              example: 500
              description: The limit amount to the nearest unit e.g. 1500 = £1,500
            arrangement:
              type: object
              properties:
                startedAt:
                  $ref: '#/components/schemas/optional'
                  description: The date the arrangement started
                endedAt:
                  $ref: '#/components/schemas/optional'
                  description: The date the arrangement ended
            payment:
              type: object
              properties:
                regularAmount:
                  type: number
                  format: int32
                  nullable: true
                  example: 500
                  description: The regular payment amount to the nearest unit e.g. 500 = £500
                expectedAmount:
                  type: number
                  format: int32
                  nullable: true
                  example: 500
                  description: The expected payment amount to the nearest unit e.g. 500 = £500
                actualAmount:
                  type: number
                  format: int32
                  nullable: true
                  example: 500
                  description: The actual payment amount to the nearest unit e.g. 500 = £500
                lumpAmount:
                  type: number
                  format: int32
                  nullable: true
                  example: 500
                  description: The lump or balloon payment amount to the nearest unit e.g. 500 = £500
                penaltyInterestAmount:
                  type: number
                  format: int32
                  nullable: true
                  example: 500
                  description: The penalty interest amount to the nearest unit e.g. 500 = £500
                startedAt:
                  $ref: '#/components/schemas/optional'
                  description: The date the payment started
            account:
              type: object
              properties:
                code:
                  $ref: '#/components/schemas/account_code'
                  nullable: true
                groupCode:
                  $ref: '#/components/schemas/group_code'
                  nullable: true
                startedAt:
                  $ref: '#/components/schemas/optional'
                  description: The date the account started
                endedAt:
                  $ref: '#/components/schemas/optional'
                  description: The date the account ended
            repayment:
              type: object
              properties:
                duration:
                  type: number
                  format: int32
                  nullable: true
                  example: 12
                  description: The number of months for the repayment period
                frequency:
                  $ref: '#/components/schemas/frequency_code'
              required:
                - frequencyCode
            behavioural:
              type: object
              description: Returned only to customers who are authorised to see Behavioural Data.
              nullable: true
              properties:
                isPromotional:
                  type: boolean
                  example: false
                  nullable: true
                  description: Whether a promotional rate applies
                hasMinimumPayment:
                  type: boolean
                  example: false
                  nullable: true
                  description: Whether a minimum payment has been made within accepted tolerances
                statementBalance:
                  type: number
                  format: int32
                  nullable: true
                  example: 1000
            updatedAt:
              $ref: '#/components/schemas/optional'
              description: The date the account was last updated
          required:
            - status
            - currency
            - agreement
            - payment
            - account
            - repayment
      required:
        - supplier
        - holder
        - history
        - details
    judgement:
      type: object
      properties:
        name:
          type: string
          example: john smith
          description: The lowercase raw name of the consumer from the judgement
        address:
          type: string
          example: 7 new bond street, london, uk
          description: The lowercase raw address of the consumer from the judgement
        dob:
          type: string
          example: '1980-01-01'
          description: The raw date of birth of the consumer from the judgement
        courtName:
          type: string
          example: lambeth
          description: The name of the court where the judgement was issued
        courtType:
          type: string
          example: County Court Judgment
          description: The type of court where the judgement was issued
        caseNumber:
          type: string
          example: 123456789
          description: The case number of the judgement
        status:
          type: string
          example: JG
          description: The current status of the judgement
        amount:
          type: number
          example: 1000
          description: The amount of the judgement
      required:
        - courtName
        - courtType
        - caseNumber
        - status
        - amount
    notice-of-correction:
      type: object
      properties:
        reference:
          type: string
          example: 123456789
          description: The reference number of the notice of correction
        createdAt:
          type: string
          example: '2020-01-01'
          description: The date the notice of correction was raised/created
        text:
          type: string
          example: The judgement was issued in error and has been revoked
          description: The raw text of the notice of correction
        name:
          type: string
          example: john smith
          description: The lowercase raw name of the consumer from the notice of correction
        address:
          type: string
          example: 7 new bond street, london, uk
          description: The lowercase raw address of the consumer from the notice of correction
    search_safe:
      type: object
      properties:
        match:
          type: object
          properties:
            title:
              $ref: '#/components/schemas/title'
              nullable: true
              description: The applicant's title
            firstname:
              $ref: '#/components/schemas/firstname'
              description: The applicant's firstname
            othername:
              $ref: '#/components/schemas/othername'
              nullable: true
              description: The applicant's middle names or initials
            lastname:
              $ref: '#/components/schemas/lastname'
              description: The applicant's lastname
            dob:
              $ref: '#/components/schemas/dob'
              description: The applicant's date of birth
            address:
              $ref: '#/components/schemas/schema'
            reportType:
              type: string
              enum:
                - none
                - address
                - surname
                - individual
                - too_many
                - non_dom
              description: |
                The type of report available for a given name and:
                  * `none` - No match found
                  * `address` - Address report
                  * `surname` - Surname report
                  * `individual` - Individual report
                  * `too_many` - Too many matches
                  * `non_dom` - Non domicile match
              example: individual
          required:
            - title
            - firstname
            - othername
            - lastname
            - dob
            - address
            - reportType
        summary:
          $ref: '#/components/schemas/summary'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/search_account'
        judgements:
          type: array
          items:
            $ref: '#/components/schemas/judgement'
        noticesOfCorrection:
          type: array
          items:
            $ref: '#/components/schemas/notice-of-correction'
        scores:
          type: object
          properties:
            trueVision:
              type: number
              format: int32
              nullable: true
              example: 770
              description: The TransUnion TrueVision score
            riskNavigator:
              type: number
              format: int32
              nullable: true
              example: 800
              description: The Equifax Risk Navigator score
      required:
        - match
        - summary
        - accounts
    portfolio_schema:
      type: object
      properties:
        name:
          type: string
          example: My Portfolio
          description: The name of the portfolio, this is for your reference only.
        reference:
          type: string
          example: 123456789
          description: The reference of the portfolio, this is issued by the credit bureau.
        description:
          type: string
          example: My Portfolio Description
          description: The description of the portfolio, this is for your reference only.
        overdraftCutOff:
          type: integer
          example: 1000
          nullable: true
          description: The maximum overdraft amount for the portfolio before it's reported to the credit bureau. Defaults to 0.
        metadata:
          type: object
          description: Set of key-value pairs that you can attach to an object, useful for storing additional information about the object in a structured format
          example:
            internalId: '12345'
          additionalProperties:
            type: string
      required:
        - name
        - reference
    portfolio_id:
      type: string
      example: port_bPKKB3sYsukFanSsaBcMCMR2
      description: The unique identifier for the portfolio
    portfolio_safe:
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/portfolio_id'
          required:
            - id
        - $ref: '#/components/schemas/portfolio_schema'
        - properties:
            createdAt:
              type: string
              format: date-time
              example: '2022-01-01T00:00:00.000Z'
              description: The date and time the portfolio was created
    consumer_account_product:
      type: string
      enum:
        - hire_purchase
        - unsecured_loan
        - mortgage
        - revolving_credit
        - credit_card
        - charge_card
        - rental
        - mail_order
        - current_account
        - second_mortgage
        - credit_sale
        - communications
        - buy_now_pay_later
        - variable_hire_purchase
        - utility
        - finance_lease
        - operating_lease
        - bounced_cheque
        - flexible_mortgage
        - consildated_debt
        - combined_credit
        - payday_loan
        - balloon_hired_purchase
        - residential_mortgage
        - buy_to_let_mortgage
        - excess_ltv_mortgage
        - offset_current_mortgage
        - offset_investment_mortgage
        - shared_mortgage
        - liability_guarantee
        - store_card
        - multi_function_card
        - water
        - gas
        - electricity
        - oil
        - duel_fuel
        - fuel_card
        - house_insurance
        - car_insurance
        - life_insurance
        - health_insurance
        - card_protection
        - mortgage_protection
        - payment_protection
        - mobile
        - fixed_line
        - cable
        - satellite
        - business_line
        - broadband
        - multi_communications
        - student_loan
        - home_credit
        - education
        - unsecured_mortgage_loan
        - gambling
        - bank_account
      example: finance_lease
      description: |
        The type of product that the account is associated with.
          * `hire_purchase` - The product remains the property of the lender until all repayments have been made.
          * `unsecured_loan` - A fixed amount loan that is not secured against any asset.
          * `mortgage` - A loan secured against a property by a mortgage deed.
          * `revolving_credit` - A credit facility that allows the customer to borrow up to a pre-agreed limit and repay the amount borrowed at any time.
          * `credit_card` - A credit facility that allows the customer to spend up to a pre-agreed limit and repay at any time.
          * `charge_card` - A credit facility that allows the customer to spend up to a pre-agreed limit but repay the full amount at the end of each month.
          * `rental` - A product that a customer makes regular payments to use but the underlying asset remains the property of the lender.
          * `mail_order` - For all types of mail order portfolios.
          * `current_account` - A bank account that allows the customer to make payments in and out of the account.
          * `second_mortgage` - A loan secured against a property but the security ranks after the primary mortgage.
          * `credit_sale` - The ownership of the goods is transferred to the customer immediately on signing the agreement.
          * `communications` - For goods/service provided by a communication service provider (e.g. mobile phone, broadband, etc.).
          * `buy_now_pay_later` - For goods/services where the first payment is deferred for an agreed period.
          * `variable_hire_purchase` - For goods/services where the monthly payment can vary depeding on the base rate.
          * `utility` - For goods/services provided by a utility provider (e.g. water, gas, electricity, etc.).
          * `finance_lease` - A product where lender is not at risk since the payments cover the cost of the asset plus charges.
          * `operating_lease` - A product where the customer pays less than 90% of the cost of the asset, and the lender carries some of the risk.
          * `bounced_cheque` - For companies that provide cheque guarantee services.
          * `flexible_mortgage` - A loan secured against a property by a mortgage deed where the terms are flexible. This also includes combined products i.e. a mortgage with a current account.
          * `consolidated_debt` - When a customer has multiple loans that are transferred to another CAIS member for the purpose of debt recovery.
          * `combined_credit` - An account with multiple credit facilities.
          * `payday_loan` - A short term loan that is repaid on the customer's next payday, no more than 31 days after the loan is taken out.
          * `balloon_hired_purchase` - A product where the customer makes regular payments and a finaly repayment at which point the ownership of the asset transfers to the customer.
          * `residential_mortgage` - A loan secured against a property by a mortgage deed where the property is the customer's main residence.
          * `buy_to_let_mortgage` - A loan secured against a property by a mortgage deed where the property is not occupied by the customer.
          * `excess_ltv_mortgage` - A loan secured against a property by a mortgage deed where the loan to value ratio is greater than 100%.
          * `offset_current_mortgage` - A loan secured against a property by a mortgage deed where the customer's current account offsets the interest charged.
          * `offset_investment_mortgage` - A loan secured against a property by a mortgage deed where the customer's investment account offsets the interest charged.
          * `shared_mortgage` - A loan secured against a property by a mortgage deed where the ownership is shared by multiple parties.
          * `liability_guarantee` - A product where there is a pontential liability to the consumer.
          * `store_card` - A credit facility that allows the customer to spend up to a pre-agreed limit and repay at any time. These are issued for use at specific retailers or groups.
          * `multi_function_card` - A card with multiple functions (e.g. credit, debit, charge, etc.).
          * `water` - For goods/services provided by a water provider.
          * `gas` - For goods/services provided by a gas provider.
          * `electricity` - For goods/services provided by an electricity provider.
          * `oil` - For goods/services provided by an oil provider.
          * `dual_fuel` - For goods/services provided by a dual fuel provider.
          * `fuel_card` - For goods/services issued via a card. This excludes motoring fuel cards.
          * `home_insurance` - For products provided by a house insurance provider.
          * `car_insurance` - For products provided by a car insurance provider.
          * `life_insurance` - For products provided by a life insurance provider.
          * `health_insurance` - For products provided by a health insurance provider.
          * `card_protection` - For payment protection services on cards.
          * `mortgage_protection` - For payment protection services on mortgages.
          * `payment_protection` - For general payment protection services.
          * `mobile` - For goods/services provided by a mobile phone provider.
          * `fixed_line` - For goods/services provided by a fixed line provider.
          * `cable` - For goods/services provided by a cable provider.
          * `satellite` - For goods/services provided by a satellite provider.
          * `business_line` - For goods/services provided by a business line provider.
          * `broadband` - For goods/services provided by a broadband provider.
          * `multi_communications` - For muliple goods/services provided by a communications provider (e.g. mobile, fixed line, broadband, etc.).
          * `student_loan` - For education loans provided under the terms of legislation, usually controlled by the Department for Education used by the student loan company.
          * `home_credit` - For flexible credit products where payments are collected from the customer's home.
          * `education` - For education products.
          * `unsecured_mortgage_loan` - For loans secured against a property by a mortgage deed but there is an unsecured element e.g. A mortgage with a ratio of 100% LTV and a 10% unsecured element.
          * `gambling` - For gambling products (e.g. spread betting, etc.).
          * `bank_account` - A bank account that allows the customer to make payments in and out of the account, however no overdraft facility is available.
    account_repayment_frequency:
      type: string
      enum:
        - weekly
        - fortnightly
        - monthly
        - quarterly
        - annually
        - periodically
      example: monthly
    consumer_account_flag:
      type: string
      enum:
        - deceased
        - partially_settled
        - not_settled
        - debt_assigned_non_member
        - debt_assigned
        - gone_away
        - recoursed
        - voluntary_termination
        - arranged
        - managed_debt_program
        - third_party_paid
        - account_queried
      example: partially_settled
    consumer_airtime_flag:
      type: string
      enum:
        - live
        - disconnected
        - barred
      example: live
    consumer_account_status:
      type: string
      enum:
        - unclassified
        - dormant
        - up_to_date
        - one_month_late
        - two_months_late
        - three_months_late
        - four_months_late
        - five_months_late
        - six_months_late
        - defaulted
      example: up_to_date
    account_schema:
      type: object
      properties:
        consumer:
          $ref: '#/components/schemas/id'
        portfolio:
          $ref: '#/components/schemas/portfolio_id'
        reference:
          type: string
          maxLength: 30
          example: null
          description: The account reference number if this customer has previously been reported otherwise leave this blank
        product:
          $ref: '#/components/schemas/consumer_account_product'
        description:
          type: string
          nullable: true
          maxLength: 255
          example: null
          description: A description of the account, this is only visible to you and is not sent to the credit bureaus
        limitAmount:
          type: number
          format: int32
          example: 500000
          description: The starting credit limit for the account, this is only applicable to certain account types.
        balanceAmount:
          type: number
          format: int32
          example: 500000
          description: The starting balance for the account.
        payment:
          type: object
          properties:
            amount:
              type: number
              format: int32
              example: 10000
              description: The amount that is due each month for this account.
            minimumAmount:
              type: number
              format: int32
              example: 100
              description: The minimum amount that is due each month for this account.
            frequency:
              $ref: '#/components/schemas/account_repayment_frequency'
          required:
            - amount
            - frequency
        flags:
          type: object
          properties:
            consumer:
              $ref: '#/components/schemas/consumer_account_flag'
            airtime:
              $ref: '#/components/schemas/consumer_airtime_flag'
              nullable: true
              example: null
          required:
            - consumer
        status:
          $ref: '#/components/schemas/consumer_account_status'
        jointPriority:
          type: number
          format: int32
          example: 0
          description: The priority of this account of all the holders of this account, this is only applicable to joint accounts. If the priority is 0 then this account is the primary account.
        metadata:
          type: object
          description: Set of key-value pairs that you can attach to an object, useful for storing additional information about the object in a structured format
          example:
            internalId: '12345'
          additionalProperties:
            type: string
        endAt:
          type: string
          format: date-time
          nullable: true
          example: '2024-01-01T00:00:00.000Z'
          description: The date and time the account is due to be closed
      required:
        - consumer
        - portfolio
        - product
        - balanceAmount
        - payment
        - flags
        - status
    account_id:
      type: string
      example: acc_bPKKB3sYsukFanSsaBcMCMR2
      description: The unique identifier for the account
    account_safe:
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/account_id'
          required:
            - id
        - $ref: '#/components/schemas/account_schema'
        - properties:
            createdAt:
              type: string
              format: date-time
              example: '2022-01-01T00:00:00.000Z'
              description: The date and time the account was created
    event_type:
      type: string
      enum:
        - payment
        - flag
        - cash_advance
        - default
        - close
        - limit
        - update
      example: payment
    payment_event_status:
      type: string
      enum:
        - success
        - insufficient_funds
        - processing_error
      example: insufficient_funds
      description: |
        The status of the payment event
          * `success` - The payment was successful
          * `insufficient_funds` - The payment failed because there were insufficient funds in the account
          * `processing_error` - The payment failed because of a processing error (e.g. the card issuer declined the payment)
    payment:
      type: object
      properties:
        amount:
          type: number
          format: int32
          example: 50000
          description: The payment amount to the nearest unit e.g. 50000 = £500.00
        status:
          $ref: '#/components/schemas/payment_event_status'
          nullable: true
          example: success
          description: The status of the payment event.
    flag:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/consumer_account_flag'
          nullable: true
          example: null
          description: The status of the consumer account.
    cash_advance:
      type: object
      properties:
        amount:
          type: number
          format: int32
          example: 50000
          description: The amount to the nearest unit e.g. 50000 = £500.00
    default_event_status:
      type: string
      enum:
        - defaulted
        - resolved
      example: defaulted
      description: |
        The status of the payment event
          * `defaulted` - The customer has defaulted on the payment
          * `resolved` - The customer has resolved the default on the payment
    default:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/default_event_status'
          nullable: true
          example: null
          description: The status of the default.
    close_event_reason:
      type: string
      enum:
        - paid
      example: paid
    close:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/close_event_reason'
          nullable: true
          example: null
          description: The reason for closing the account.
    limit:
      type: object
      properties:
        amount:
          type: number
          format: int32
          example: 50000
          description: The payment amount to the nearest unit e.g. 50000 = £500.00
        action:
          type: string
          enum:
            - increase
            - set
            - decrease
          example: increase
    account_update:
      type: object
      properties:
        isCollection:
          type: boolean
          nullable: true
          example: null
          description: Whether the account is now in a collection status.
        isConsolidatingDebt:
          type: boolean
          nullable: true
          example: null
          description: Whether the account is now in a consolidating debt status.
        isPromotional:
          type: boolean
          nullable: true
          example: false
          description: Whether the account is now in a promotional status.
    account_event_schema:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/account_id'
        eventType:
          $ref: '#/components/schemas/event_type'
        payment:
          $ref: '#/components/schemas/payment'
        flag:
          $ref: '#/components/schemas/flag'
        cashAdvance:
          $ref: '#/components/schemas/cash_advance'
        default:
          $ref: '#/components/schemas/default'
        close:
          $ref: '#/components/schemas/close'
        limit:
          $ref: '#/components/schemas/limit'
        update:
          $ref: '#/components/schemas/account_update'
      required:
        - account
        - eventType
    account_event_id:
      type: string
      example: acc_evt_bPKKB3sYsukFanSsaBcMCMR2
      description: The unique identifier for the account event
    amount:
      type: number
      format: int32
      example: 50000
      description: The payment amount to the nearest unit e.g. 50000 = £500.00
    account_event_safe:
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/account_event_id'
            account:
              $ref: '#/components/schemas/account_id'
              example: acc_bPKKB3sYsukFanSsaBcMCMR2
            payment:
              $ref: '#/components/schemas/payment'
            flag:
              $ref: '#/components/schemas/flag'
            cashAdvance:
              $ref: '#/components/schemas/cash_advance'
            default:
              $ref: '#/components/schemas/default'
            close:
              $ref: '#/components/schemas/close'
            limit:
              properties:
                amount:
                  $ref: '#/components/schemas/amount'
            update:
              $ref: '#/components/schemas/account_update'
            eventType:
              $ref: '#/components/schemas/event_type'
          required:
            - id
            - account
            - eventType
        - properties:
            createdAt:
              type: string
              format: date-time
              example: '2022-01-01T00:00:00.000Z'
              description: The date and time the account event was created
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
